
@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru');


*{
	padding:0;
	margin:0
}
body{
	width:100%;
	min-height:100vh;
	font-size: 18px;
	font-family: 'Kosugi Maru', sans-serif;
	background: #fff;
}
button, input, select{
	outline: none;
	color: #555;
}
main{
	width: 80%;
	margin: 0 auto;
}
h2{
	color: #bc4545;
	margin-bottom: 10px;
}
.main_wrapper{
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
}
.main_wrapper{
	width: 50vw;
	margin: 50px auto;
}
.main_wrapper input[type="text"]{
	width: -webkit-fill-available;
    font-size: 1em;
    border: solid 2px #eea90e;
    border-radius: 5px;
    padding: 0.5em;
    transition: 500ms;
}
.main_wrapper input[type="text"]::placeholder{
	color: #eea90e;
	opacity: 0.6;
}
.main_wrapper input[type="text"]:focus{
	font-size: 1em;
	border: solid 2px #eea90e;
	box-shadow: inset 0 0 5px #eea90e;
	border-radius: 5px;
	padding: 0.5em;
}
.main_wrapper label{
	margin-bottom: 10px;
}
.main_wrapper button{
	padding: 5px 0;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to left bottom, #eea90e, #d5165d);
    font-size: 1em;
    color: #fff;
    box-shadow: 0 3px 0 #953636;
    transition: all 300ms;
    letter-spacing: 1em;
    opacity: 0.8;
}
.main_wrapper button:hover{
	opacity: 1;
}
.main_wrapper button:active{
	box-shadow: none;
	transform: translateY(3px);
}
.display{
	width: 80vw;
	padding: 5px;
	min-height: 300px;
	background: silver;
	border-radius: 5px;
	margin: 30px auto;
}

.tag_body{
	display: inline-table;
    padding: 0.3em 1em 0.3em 0.3em;
    font-size: 1em;
    background: #fff;
    border-radius: 50px;
    margin: 5px;
}
.tag_body{

}

.tag_body i,
.tag_body span{
	display: table-cell;
	vertical-align: middle;
}

.tag_body i{
	color: #eea90e;
	font-size: 1.5em;
	margin-right: 0.5em;
	cursor: pointer;
}


@media screen and (max-width: 425px) {
    /*　画面サイズ 425pxまで適用　*/
    main{
		width: 100%;
		margin: 0 auto;
		font-size: 15px;
	}
	.main_wrapper{
		width: 80%;
		margin: 50px auto;
	}
	.main_wrapper input[type="text"] {
    width: 93%;
    font-size: 1em;
    border: solid 2px #eea90e;
    border-radius: 5px;
    padding: 0.5em;
    transition: 500ms;
}
}